.juridica { color:#FF1C07;}
.agronomia {color: #00A651;}
.economia {color: #F47B20;}
.ciencia {color: #26B3FF;}
.arte {color: #B38E05;}
.humanidades {color: #7B56A4;}
.ingenieria {color:#0077FF;}
.medicina {color:#F3FA33;}
.educacion {color:#911422;}


  .carousel-item {
  height:700px;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-caption .titulo {
  font-size: 3.5rem;
    font-weight: bold;
    text-align: left;
    margin-top: -35px;
}

.descripcion {
  font-size: 1.5rem;
  text-align: left;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top: 18%!important;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 50%;
}

a.carousel-control-prev .carousel-control-next-icon{
    display: inline-block;
    width: 60px!important;
    height: 60px!important;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.fondo {
background: linear-gradient(0deg, rgba(2,0,36,1) 0%,
rgba(14,5,140,1) 0%, rgba(19,8,187,0.8463760504201681) -5%,
rgba(0,212,255,0) 95%, rgba(22,9,210,0) 100%);
width: 100%;
height: 200px;
position: relative;
top: 500px;

}

.fondo_azul {

  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,5,140,1) 0%, rgba(19,8,187,0.8463760504201681) -5%, rgba(0,212,255,0) 95%, rgba(22,9,210,0) 100%);
    width: 100%;
    height: 200px;
    position: relative;
    top: 500px;
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
}


/*SERVICIOS*/

.card { border: 0px; }

.servicios .card h5 {font-size: 1rem;text-align: center;}


/*FACULTADES*/

.facultades .card h5 {font-size: 1rem;text-align: center; text-transform: uppercase;}
.facultades .card  p { font-size: 14px; color: darkslategrey;text-align: center;}
.facultades .no-blanco {background-color:transparent!important;}

.facultades hr.regla_egresados {margin-top: 1rem;border-top: 5px solid #0077FF;
width: 5%;float: left;}

hr.regla_titulo {margin-top: 1rem;border-top: 5px solid #0077FF;width: 5%;
float: left;}

.fondo-facultades { background-image:url(../img/fondo_facultades.png);
padding-bottom:2rem;}

/*UNIVERSIRATIO*/

.banner-universitario {
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius:30px;height:500px;}

#universitario a.ampliar-universitario {color: #fff;text-decoration: underline;}

#universitario a.ampliar-universitario:hover {text-decoration: none;}

#universitario .carousel-caption {
  position: absolute;
    right: 15%;
    bottom: 20px;
    left: 10%;
    top: 30%!important;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 80%;
}

#universitario .carousel-caption .titulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 112px;
}

.mas-noticias .fondo-noticia {
width: 100%;
height: 170px;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius:20px;
padding: 10px;
}

.mas-noticias .fondo-noticia a.deportes {
background-color: red;
color: #fff;
padding: 5px 20px 5px 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius:20px;
font-size: 12px;
}

.mas-noticias .fondo-noticia a.academia {
  background-color: #17499F;
  color: #fff;
  padding: 5px 20px 5px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius:20px;
  font-size: 12px;
}

.mas-noticias .fondo-noticia a.ciencia {
  background-color: #00BAEC;
  color: #fff;
  padding: 5px 20px 5px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius:20px;
  font-size: 12px;
}

.mas-noticias .fondo-noticia a.centros {
  background-color: #0077FF;
  color: #fff;
  padding: 5px 20px 5px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius:20px;
  font-size: 12px;
}


.pie-universitario .alineado { text-align: center;}

.pie-universitario .revista {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
background-size: auto;
}


/*RECTORIA*/

.fondo_rectoria {
    display: block;
    width: 100%;
    height: auto;
    background-image:url(../img/fondo_rectoria_pagina.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 500px;
    margin-top: 50px;
  }


.fondo_rectoria h4 {
  color: #fff;
  font-size: 1.3rem;
}

.fondo_rectoria a {
    display: block;
    width: 100%;
    color: #00c4ff;
    font-size: 13px;
    line-height: 2.2;
}

.fondo_rectoria h1 {
  font-size: 1.2rem!important;
  font-weight: 200;
  color: #fff!important;
  line-height: 1.7;
}


.fondo_rectoria p {
  font-size: 14px;
    color: #fff!important;
    margin-top: 10px;
}

.fondo_rectoria .nombre_egresado {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;

}

.fondo_rectoria .especialidad_egresado {
  font-size: 12px;
  color: #00dcff;
  width: 50%;
  font-weight: 100;
  line-height: 1.5;
}

.fondo_rectoria h5.doctora {
    font-size: 1rem!important;
    color: #fff!important;
}

.fondo_rectoria h5.primera {
    font-size: 14px;
    color:#03FAEB;
    font-weight: 200;
}

.fondo_rectoria hr.regla{
    margin-top: 4rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #00dcff;
}


.fondo_rectoria h3.nuestros_egresados {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 5rem;
}

.fondo_rectoria hr.regla_egresados {margin-top: 1rem;
border-top: 5px solid #0077FF;
    width: 5%;
    float: left;
}

.fondo_rectoria .foto_egresado { margin-right: 5rem; margin-left: -20px; }

.fondo_rectoria ul.lista_egresados li {
  list-style-type: none;
  float: left;
}


.fondo_rectoria ul.lista_egresados {
  margin-left: -3rem;
}

/*AGENDA*/
.agenda_dias {background-image: url(img/image_agenda.png);padding: 0px;}
.agenda_color {background-color: rgba(9, 135, 255, 0.85);width: 100%;padding: 20px;
    height:auto; float: left;}
.agenda .detalle-dias {background-color: #EFF0F1;}
.agenda .dias {width: 20%;float: left;}
.agenda .datos {float: left;display: block;width: 75%;margin-left: 15px;
margin-top: 20px;color: #fff;}

.agenda .agenda_dias ul{ list-style-type: none;}

.agenda .agenda_dias ul li.activo {background: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    margin-top: 1rem;
  }

.agenda .agenda_dias ul li {
    background: #B1E4FF;
    width: 90%;
    padding: 6px;
    border-radius: 30px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 29px;}

.agenda .datos .hora_detalle {margin-top: 1rem;font-size: 1.5rem;margin-bottom: 2rem;}

.agenda .datos .fecha {font-size: 2rem;}

.agenda .datos .dealle {border-bottom: solid 1px #b1e4ff;margin-bottom: 2rem;
padding-bottom: 1rem;}

.agenda .datos .ubicacion { font-size: 1.3rem;}

.agenda .detalle-dias hr.regla{margin-top: 1rem;margin-bottom:3rem;border: 0;
width: 10%;border-top: 7px solid #0077FF;float: left;}

.agenda .detalle-dias h3 {text-transform: uppercase;font-size: 1.3rem;}

.agenda .detalle-dias .hora_agenda {text-transform: uppercase;color: #0077FF;
font-size: 1.2rem;font-weight: bold; float: left; margin-right: 1rem;}

.agenda .detalle-dias hr.regla{margin-top:10px;margin-bottom:3rem;border: 0;
width:5%;border-top: 10px solid;float: left;}

.agenda .detalle-dias p.texto_agenda{display: block;float: left;margin-top: -2rem;}
.agenda .detalle-dias .ubicacion { display: block;float: left;}
.agenda .detalle-dias .lugar_icono{display: block;float: left;margin-right: 1rem;}
.agenda .detalle-dias .regla_divicion {border: solid 0.5px #dadada;float: left;
width: 100%;}
.agenda .detalle-dias .todas-actividades {float: right;margin-top: -4rem;
margin-right: 2rem;background-color: #288fe0;padding: 10px 20px 10px 20px;
border-radius: 23px;color: #fff;font-size: 14px;position: relative;z-index: 50000;
}

.agenda .detalle-dias .carousel-indicators {
    position: absolute;
    /* right: 0; */
    bottom: 10px;
    /* left: 0; */
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: left;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 3%;
    width: 30%;
    /* list-style: none; */
}
.agenda .detalle-dias .carousel-indicators .active {background-color: #288fe0;}

.agenda .detalle-dias .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    background-color:rgba(148, 143, 143, 0.5);
}

.agenda .detalle-dias .carousel-item {height: 600px;min-height: 350px;
background-repeat: no-repeat;background-size: cover;
background-position: center center;
}



/*PC ALTO*/

@media (max-width: 1200px) {

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top: 18%!important;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 60%;
    margin-top: -30px;
}

.carousel-caption .titulo {
  font-size: 3rem;
    font-weight: bold;
    text-align: left;
    margin-top: -35px;
}


 }





/*BANNER MOVIL: ;*/
@media only screen
  and (min-width: 320px)
  and (max-width: 736px)
{

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top: 18%!important;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 82%;
}

.descripcion {
    font-size: 1.5rem;
    text-align: left;
    display: none;
}

.carousel-caption .titulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
    margin-top: -50px;
}


.navbar-toggler {
    padding: .25rem .25rem;

  }

}
