@import url(fonts.css);

.navbar-light .navbar-toggler-icon { background-image:url(../img/lineas.png)!important;}

.juridica { color:#FF1C07;}
.agronomia {color: #00A651;}
.economia {color: #F47B20;}
.ciencia {color: #26B3FF;}
.arte {color: #B38E05;}
.humanidades {color: #7B56A4;}
.ingenieria {color:#0077FF;}
.medicina {color:#F3FA33;}
.educacion {color:#911422;}

.carousel-item { height:700px;min-height: 350px;background-repeat: no-repeat;
background-size: cover;background-position: center center;}
.carousel-caption .titulo {font-size: 3.5rem;font-weight: bold;text-align: left;
margin-top: -35px;font-family: SF-Pro-Display-Bold;}
.carousel-inner .descripcion {font-size:1.1rem;text-align:left;font-family:Maison-Neue-Light;}

.invisible {display:none!important;}

#content .content.active{display:block;}
#content .content{ display:none;transition-duration: 1s;}

.carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 15%;top: 18%!important;
z-index: 10;padding-top: 0px;padding-bottom: 20px;color: #fff;text-align: center;width: 50%;}

a.carousel-control-prev .carousel-control-next-icon{display: inline-block;width: 60px!important;
height: 60px!important;background: transparent no-repeat center center;background-size: 100% 100%;}

.fondo {background: linear-gradient(0deg, rgba(2,0,36,1) 0%,
rgba(14,5,140,1) 0%, rgba(19,8,187,0.8463760504201681) -5%,
rgba(0,212,255,0) 95%, rgba(22,9,210,0) 100%);width: 100%;height: 200px;position: relative;
top: 500px;}

.fondo_azul {
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,5,140,1) 0%, rgba(19,8,187,0.8463760504201681) -5%, rgba(0,212,255,0) 95%, rgba(22,9,210,0) 100%);
width: 100%;height: 200px;position: relative;top: 500px;}

.carousel-control-next-icon, .carousel-control-prev-icon {display: inline-block;width: 50px;
height: 50px;background-size: 100% 100%;
background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
}

/*SERVICIOS*/
.card { border: 0px; }
.servicios .card h5 {font-size: 1rem;text-align: center; margin-top: 10px;}
.servicios p {text-align: center;font-size: 13px;line-height: 1.7;
font-family:Maison-Neue-Light;}
.servicios p a { color: black;}
.servicios .card-body { padding: 0px!important;}
.servicios h5 { font-family: SF-Pro-Display-Bold;}
.servicios .btn-primary {font-family:Maison-Neue-Bold;padding: 15px 40px 15px 40px;
border-radius: 30px;}

/*FACULTADES*/
.facultades .card h5 {font-size: 1rem;text-align: center; text-transform: uppercase;
font-family: SF-Pro-Display-Bold;}
.facultades .card  p {font-size: 14px; color: darkslategrey;text-align: center;
font-family:Maison-Neue-Light;}
.facultades .card  p  a{color:#828282;}
.facultades .no-blanco {background-color:transparent!important;}
.facultades hr.regla_facultades {margin-top: 1rem;border-top:8px solid #0077FF;
width: 8%;float: left;}
hr.regla_titulo {margin-top: 1rem;border-top: 5px solid #0077FF;width: 5%;
float: left;}
hr.regla {margin-top: 1rem;border-top: 5px solid #0077FF;width: 5%;
float: left;}
.fondo-facultades { background-image:url(../img/fondo_facultades.png);
padding-bottom:2rem;}
.facultades h3.titulo_facultades { font-family:Maison-Neue-Bold; font-size:1.7rem;}
.facultades p {font-family:Maison-Neue-Light;}
.facultades .btn-primary {font-family: Maison-Neue-Bold;padding: 15px 40px 15px 40px;
border-radius: 30px; margin-top: 20px;}



/*UNIVERSIRATIO*/
.banner-universitario {-webkit-border-radius: 30px;-moz-border-radius: 30px;
border-radius:30px;height:500px;}
#universitario { margin-top: 40px;}
#universitario a.ampliar-universitario {color: #fff;text-decoration: underline;
font-family:SF-Pro-Display-Light;font-size: 1.2rem;}
#universitario a.ampliar-universitario:hover {text-decoration: none;}
#universitario .carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 10%;
top: 30%!important;z-index: 10;padding-top: 0px;padding-bottom: 20px;color: #fff;
text-align: center;width: 80%;}
#universitario .carousel-caption .titulo {font-size:2.5rem;font-weight: bold;
text-align: center;margin-top:100px;font-family:SF-Pro-Display-Bold; text-transform:inherit;}
.mas-noticias .fondo-noticia {width: 100%;height: 170px;background-position: center center;
background-size: cover;background-repeat: no-repeat;-webkit-border-radius: 20px;
-moz-border-radius: 20px;border-radius:20px;padding: 10px;}
.mas-noticias .card-body p {font-family:SF-Pro-Display-Light;letter-spacing: 0.7px;}
.mas-noticias .fondo-noticia a.deportes {background-color: red;color: #fff;
padding: 5px 20px 5px 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius:20px;font-size: 12px;}
.mas-noticias .fondo-noticia a {font-family:SF-Pro-Display-Regular;}
.mas-noticias a.enlace {font-family:SF-Pro-Display-Light;letter-spacing:0.8px;
text-decoration: underline;}
.mas-noticias .fondo-noticia a.academia {background-color: #17499F;color: #fff;
padding: 5px 20px 5px 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius:20px;font-size: 12px;}
.mas-noticias .fondo-noticia a.ciencia {background-color: #00BAEC;color: #fff;
padding: 5px 20px 5px 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius:20px;font-size: 12px;}
.mas-noticias .fondo-noticia a.centros {background-color: #0077FF;color: #fff;
padding: 5px 20px 5px 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;
border-radius:20px;font-size: 12px;}
.pie-universitario .alineado { text-align: center;}
.pie-universitario .revista {background-position: center center;background-size: cover;
background-repeat: no-repeat;background-size: auto;}
.pie-universitario p{font-family:SF-Pro-Display-Light;letter-spacing: 0.8px;}
.pie-universitario a.impresa {font-family:SF-Pro-Display-Semibold; color:#828282;
text-decoration: underline;}
.pie-universitario a.enlace {font-family:SF-Pro-Display-Light;text-decoration: underline;}
.universitario h3.titulo_universitario {font-family: Maison-Neue-Bold;font-size: 1.7rem;}
.universitario hr.regla_universitario {margin-top: 1rem;border-top: 8px solid #0077FF;
width: 8%;float: left;}


/*RECTORIA*/
.fondo_rectoria {display: block;width: 100%;height: auto;background-image: url(../img/fondo_rectoria_pagina.jpg);
background-size: cover;padding-top: 550px;margin-top: 50px;}
.fondo_rectoria h4 {color: #fff;font-size: 1.3rem; font-family:Maison-Neue-Bold-Italic;}
.fondo_rectoria a {display: block;width: 100%;color:#fff;font-size: 13px;line-height: 2.2;
font-family: Maison-Neue-Light;}
.fondo_rectoria a:hover {color: #00c4ff}
.fondo_rectoria h1 {font-size: 1.5rem!important;font-weight: 900;color: #fff!important;
line-height: 1.7;font-family: SF-Pro-Display-Ultralight;letter-spacing: 1.7px;}
.fondo_rectoria p {font-size: 14px;color: #b1e4ffe3!important;margin-top: 10px;
font-family: Maison-Neue-Light;}
.fondo_rectoria .nombre_egresado {font-size: 1rem;text-transform: uppercase;color: #fff;
margin-top: 1rem;}
.fondo_rectoria .especialidad_egresado {font-size: 12px;color: #00dcff;
width: 50%;font-weight: 100;line-height: 1.5;}
.fondo_rectoria h5.doctora {font-size: 1rem!important;color: #fff!important;
font-family:Maison-Neue-Bold;}
.fondo_rectoria h5.primera {font-size: 14px;color:#03FAEB;font-family:Maison-Neue-Light-Italic;}
.fondo_rectoria hr.regla{margin-top: 4rem;margin-bottom: 1rem;border: 0;border-top: 1px solid #00dcff;}
.fondo_rectoria h3.nuestros_egresados {color: #fff;font-size: 1.5rem;margin-top: 5rem;}
.fondo_rectoria .foto_egresado { margin-right: 5rem; margin-left: -20px; }
.fondo_rectoria ul.lista_egresados li {list-style-type: none;float: left;}
.fondo_rectoria ul.lista_egresados {margin-left: -3rem;}
.fondo_rectoria hr.regla_egresados {margin-top: 1rem;border-top: 5px solid #0077FF;
width: 5%;float: left;}
.titulo{text-transform: uppercase;font-size: 1.5rem;}
.parrafo {font-size: 15px;font-family: sans-serif;text-align: left;}
.fondo_rectoria .rectora {margin-right: 1.8rem!important;background-color: #efefef;
border-radius: 50px;margin-bottom: 20px;}
.fondo_rectoria .rectora-informacion {float:left;width:53%;display:block;margin-left:20px;}
.fondo_rectoria .rectora-contenedor{width:45%;float: left;height: auto;display: block;
margin-left:-20px;}


/*EGREASDOS*/
.fondo_egresados { background: #17499e}
.egresados h1 {font-size: 1.5rem!important;font-weight: 200;color: #fff!important;
line-height: 1.3;font-family: SF-Pro-Display-Light;}
.egresados .nombre_egresado {font-size: 1rem;text-transform: uppercase;color: #fff;
margin-top: 1rem;font-family:Maison-Neue-Bold; font-weight: 900;}
.egresados .especialidad_egresado {font-size: 14px;color: #00dcff;
width:100%;font-weight: 100;line-height: 1.5; font-family:Maison-Neue-Light;}
.egresados h5.doctora {font-size: 1rem!important;color: #fff!important;}
.egresados h5.primera {font-size: 14px;color:#03FAEB;font-weight: 200;}
.egresados hr.regla{margin-top: 4rem;margin-bottom: 3rem;border: 0;border-top: 1px solid #00dcff; width: 100%;}
.egresados h3.nuestros_egresados {color: #fff;font-size: 1.5rem;margin-top: 5rem;
font-family:Maison-Neue-Bold;}
.egresados .titulo{text-transform: uppercase;font-size: 1.5rem;}
.egresados .datos_egresados { position: relative; z-index: 8000;}
.egresados li.egresado_foto:hover { cursor: pointer;}
.egresados .parrafo {font-size: 15px;font-family: sans-serif;text-align: left;}
.egresados hr.regla_egresados{margin-top: 1rem;border-top:8px solid #0077FF;width:8%;
float:left;}
.egresados .foto_egresado{margin-right: 5rem; margin-left: -20px;background-size: cover;
background-repeat: no-repeat;background-position: center;border-radius:30px;height:420px;
background-size: cover;}
.egresados ul.lista_egresados li {list-style-type: none;float: left;
width: 25%;height: 180px;margin-right: 2rem;background-size: cover;background-repeat: no-repeat;
background-position: center;border-radius: 30px; text-align: center;}
.egresados ul.lista_egresados li a.lista_egresado {float: left;vertical-align: bottom;
    margin-top: 183px;color: #fff;text-align: center;font-size: 12px; width: 100%; display: block;
  text-transform: uppercase;}
.egresados ul.lista_egresados li img {border-radius: 35px;}
.egresados ul.lista_egresados { margin-left: -40px;}
.egresados .carousel-item { height: auto!important;min-height: 280px!important;}
.egresados .carousel-indicators li {position: relative;-ms-flex: 0 1 auto;
flex: 0 1 auto;width:25px;height: 25px;margin-right: 12px;margin-left: 3px;
border-radius: 30px;
text-indent: -999px;background-color: rgba(255,255,255,.5);}
.egresados .carousel-indicators .active {background-color: #fff;}
.egresados .carousel-indicators li:hover {cursor:pointer;background-color: #0077ff;}
.egresados .ver_mas_egresado a {background: #0077FF;color: #fff;font-size: 2rem;
border-radius: 25px 0 15px 0;-webkit-border-radius: 25px 0 15px 0;padding: 1px 10px 10px 15px;
display: flex;width: 50px; float: right; margin-top:364px; height:56px;}
.egresados .ver_mas_egresado a:hover {text-decoration: none;background-color: blue;}
.egresados .facultad_egresado { margin: 4px 5px 5px 5px;}
.egresados .facultad_egresado img {width:20%;}
.egresados .espacio_egresados { padding-left: 30px;margin-top: 50px!important;}
.fondo_rectoria ul.lista_egresados {margin-left: -3rem;}


/*AGENDA*/
.agenda_dias {background-image: url(img/image_agenda.png);padding: 0px;}
.agenda_color {background-color: rgba(9, 135, 255, 0.85);width: 100%;padding: 20px;
    height:auto; float: left;}
.agenda .detalle-dias {background-color: #EFF0F1;}
.agenda .dias {width: 20%;float: left;}
.agenda .datos {float: left;display: block;width: 75%;margin-left: 15px;
margin-top: 20px;color: #fff;}
.agenda .agenda_dias ul{ list-style-type: none;}
.agenda .agenda_dias ul li.activo {background: #fff;width:45px;height:45px;padding:12px;
border-radius:30px;text-align: center;margin-top: 1rem;margin-bottom:25px;
font-family:SF-Pro-Display-Light;}
.agenda .agenda_dias ul li:hover {background-color: #80bcdc;}
.agenda .agenda_dias ul li{background:#B1E4FF;width:45px;height:45px;padding:12px;
border-radius:30px;text-align: center;margin-top: 1rem;margin-bottom:25px;
font-family:SF-Pro-Display-Light;}
.agenda{ padding: 0px!important;}
.agenda .icono_ubicacion {margin-left: 20px;}
.agenda .datos .hora_detalle {margin-top: 1rem;font-size: 1.5rem;margin-bottom: 2rem;
font-family:SF-Pro-Display-Thin;margin-left:20px;}
.agenda .datos .fecha {font-size: 2rem;font-family:SF-Pro-Display-Thin;margin-left:20px;}
.agenda .datos .dealle {border-bottom: solid 1px #b1e4ff;margin-bottom: 2rem;
padding-bottom: 1rem; font-family:SF-Compact-Text-Regular;margin-left:20px;}
.agenda .datos .ubicacion{font-size:1.3rem;font-family:SF-Pro-Display-Thin;margin-left:20px;}
.agenda .detalle-dias hr.regla{margin-top: 1rem;margin-bottom:3rem;border: 0;
width: 10%;border-top: 7px solid #0077FF;float: left;}
.agenda .detalle-dias h3 {text-transform: uppercase;font-size: 1.3rem;
font-family:Maison-Neue-Bold;}
.agenda .detalle-dias .hora_agenda {text-transform: uppercase;color: #0077FF;
font-size: 1.2rem;font-weight: bold; float: left; margin-right: 1rem;
font-family:SF-Pro-Display-Bold;}
.agenda .detalle-dias hr.regla{margin-top:10px;margin-bottom:3rem;border: 0;
width:5%;border-top: 10px solid;float: left;}
.agenda .detalle-dias p.texto_agenda{display: block;float: left;margin-top: -2rem;}
.agenda .detalle-dias .ubicacion { display: block;float: left;}
.agenda .detalle-dias .lugar_icono{display: block;float: left;margin-right: 1rem;}
.agenda .detalle-dias .regla_divicion {border: solid 0.5px #dadada;float: left;
width: 100%;}
.agenda .detalle-dias .todas-actividades {float:right;margin-top:-4rem;margin-right: 2rem;
background-color: #288fe0;padding: 15px 30px 15px 30px;border-radius: 23px;color: #fff;
font-size: 14px;position: relative;z-index: 50000;font-family: Maison-Neue-Bold;
margin-bottom: 55px;}
.agenda hr.regla_agenda {margin-top: 1rem;border-top: 7px solid #0077FF;width: 10%;
float: left;}
.agenda .detalle-dias .carousel-indicators {position: absolute;bottom: 10px;
z-index: 15;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: left;
padding-left: 0;margin-right: 15%;margin-left: 3%;width: 30%;}
.agenda .detalle-dias .carousel-indicators .active{background-color: #ffffff;
border-radius: 16px;height: 25px;border: 5px solid #1382df;width: 25px;}
.agenda .detalle-dias .carousel-indicators li:hover {cursor:pointer;background-color: #135e98;}
.agenda .detalle-dias .carousel-indicators li {position: relative;-ms-flex: 0 1 auto;
flex: 0 1 auto;width: 25px;border-radius: 20px;border: solid 5px #0d78dc;height: 25px;
margin-right:10px;margin-left:10px;text-indent:-999px;background-color:rgba(148, 143, 143, 0.5);}
.agenda .detalle-dias .carousel-item {height: 600px;min-height: 350px;
background-repeat: no-repeat;background-size: cover;background-position: center center;}


/*COMVENIOS*/
.convenios .parrafo {font-size: 15px;font-family: sans-serif;text-align: left;display: block;
margin-top: 5rem;width: 56%; font-family:SF-Compact-Text-Regular}
.convenios .lista-convenios {text-align:center; justify-content:center;}
.convenios .lista-convenios img{filter: grayscale(1);
  transition-property: filter;transition-duration: 1s; width:70%;}
.convenios .lista-convenios img:hover {filter: grayscale(0%);}
.convenios h3.titulo{font-family: Maison-Neue-Bold;}
.convenios hr.regla{margin-top: 1rem;border-top: 8px solid #0077FF;width: 7%;float:left;}
.convenios .btn-primary{background-color: #288fe0;padding: 15px 30px 15px 30px;
border-radius: 23px;color: #fff;font-size: 14px;position: relative;z-index: 50000;
font-family: Maison-Neue-Bold;margin-bottom:30px;margin-top: 30px;}
.convenios a.btn-primary:hover{text-decoration: underline;}


/*ADMINISTRATIVO*/
.fondo-administrativo {
background-image: linear-gradient( rgba(4, 65, 117, 0.75), rgba(10, 134, 220, 0.87)),url(../img/edificio_administrativo.png);
background-repeat: no-repeat;background-size: cover;}
.administrativo ul li a {color: #fff;text-decoration: none;
font-family:SF-Pro-Display-Light;letter-spacing: 2px;}
.administrativo ul li a:hover {color: #fff;text-decoration:underline;}
.administrativo ul li {list-style-type: none;margin-bottom:10px;}
.administrativo h3.titulo-menu {color: #fff;font-size: 1.2rem;display: block;margin-left: 40px;
margin-bottom:2rem;font-weight:bold;font-family: Maison-Neue-Bold;}
.administrativo h3 {color: #fff;font-size: 1.54rem;display: block;font-family: Maison-Neue-Bold;}
.administrativo .hr.regla{margin-top:1rem;border-top:8px solid #0077FF;width:7%;float:left;}


/*PIE DE PAGINA*/
.pie_de_pagina ul li a {color:#B1E4FF;text-decoration: none;font-size: 14px;
font-family:SF-Pro-Display-Light;letter-spacing: 2px;}
.pie_de_pagina ul li a:hover {color: #fff;text-decoration:underline;}
.pie_de_pagina ul li {list-style-type: none;margin-bottom:5px;}
.pie_de_pagina ul.redes_sociales li {list-style-type: none;margin-bottom:5px;float: left;
margin-right:15px;}
a.enlace_redes {float: left;color: #fff;margin-top: 2rem;}
.pie_de_pagina h3.titulo-menu {color: #fff;font-size: 1.2rem;display: block;margin-left: 40px;
margin-bottom:2rem;font-weight:bold;font-family: Maison-Neue-Bold;}
.pie_de_pagina  h3 { color: #fff;font-size: 1.54rem;display: block;}
.pie_de_pagina .linea_pie { border-top:solid 1px #155dda;}
.color-pie {background-color: #17499F;}
.pie_final {background-color: #eaeaea;display: block;float: left;}
.pie_final ul li a {color: #5f5f5f;text-decoration: none;font-size: 14px;margin-right: 10px;margin-left: 10px;}
.pie_final ul li a:hover {text-decoration:underline;}
.pie_final ul li {list-style-type: none;margin-bottom:20px;float: left;border-right: solid 1px silver;}
.pie_final p { float: left; display: block; font-size: 13px;width: 80%;}



@media only screen and (min-width:1680px) and (max-width:1920px) {

.carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 19%;top: 18%!important;
z-index: 10;padding-top: 0px;padding-bottom: 20px;color: #fff;text-align: center;width: 60%;}

}




/*PC ALTO*/
@media only screen and (min-width:1023px) and (max-width:1024px) {

.navbar-expand-lg .navbar-nav .nav-link{padding-right:.0rem;padding-left:.0rem;
text-align: center;}

.carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 15%;top: 18%!important;
z-index: 10;padding-top: 0px;padding-bottom: 20px;color: #fff;text-align: center;width: 71%;}

 }

/*IPAD*/
@media only screen and (min-width:768px) and (max-width:1023px)
{

.fondo_rectoria {display: block;width: 100%;height: auto;
background-image: url(../img/fondo_rectoria_pagina.jpg);background-size: cover;
padding-top:400px;margin-top: 50px;}

.fondo_rectoria .rectora-contenedor {width: 100%;float: left;height: auto;display: block;
margin-left: 0px;}

.fondo_rectoria .rectora-informacion {float: left;width: 100%;display: block;}

.fondo_rectoria .rectora {margin-right: 1.8rem!important;background-color: #efefef;
border-radius: 50px;margin-bottom: 20px;}

.carousel-caption .titulo {font-size: 3rem;font-weight: bold;text-align: left;
margin-top: -35px;font-family: SF-Pro-Display-Bold;}

.carousel-caption {position: absolute;right:13%;bottom: 20px;left: 15%;
top: 18%!important;z-index: 10;padding-top: 0px;padding-bottom: 20px;color: #fff;
text-align: center;width:74%;margin-top: -30px;}

.egresados .espacio_egresados {padding-left: 0px;margin-top: 50px!important;}

.egresados .foto_egresado {margin-right: 0rem;margin-left: 0px;
background-repeat: no-repeat;background-position: center;border-radius: 30px;height: 420px;
background-size: cover;}

.egresados h1 {font-size: 1.5rem!important;font-weight: 200;color: #fff!important;
line-height: 1.3;font-family: SF-Pro-Display-Light;margin-top: 20px;}

.agenda .datos {float: left;display: block;width: 70%;margin-left: 15px;margin-top: 20px;
color: #fff;}

.agenda .agenda_dias ul {list-style-type: none;float: left;margin-left: -40px;}

.agenda .agenda_dias ul li {background: #B1E4FF;width: 45px;height: 45px;padding: 12px;
border-radius: 30px;text-align: center;margin-top: 1rem;margin-bottom: 33px;
font-family: SF-Pro-Display-Light;}

.agenda .detalle-dias .todas-actividades {float: right;margin-top: 1rem;
margin-right:0rem;background-color: #288fe0;padding: 15px 20px 15px 20px;
border-radius: 23px;color: #fff;font-size: 14px;position: relative;z-index: 50000;
font-family: Maison-Neue-Bold;margin-bottom: 60px;}

.agenda .detalle-dias .carousel-indicators {position: absolute;bottom: 10px;
z-index: 15;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: left;
padding-left: 0;margin-right: 0%;margin-left: 3%;top: 103%;width: 34%;}

}

/*BANNER MOVIL: ;*/
@media only screen and (min-width: 320px) and (max-width: 736px)
{
.carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 15%;
top: 18%!important;z-index: 10;padding-top: 0px;padding-bottom: 20px;
color: #fff;text-align: center;width: 82%;}

.descripcion {font-size: 1.5rem;text-align: left;display: none;}

.carousel-caption .titulo {font-size:1.2rem;font-weight: bold;text-align: left;
margin-bottom: 25px;margin-top:20px;}

.navbar-toggler {padding: .25rem .25rem;}

.menu .link { display: none;}

.margen_movil { margin:0px!important; padding:0px!important;}

.carousel-item {height: 415px;min-height: 350px;background-repeat: no-repeat;
background-size: cover;background-position: center center;}

.servicios .card {width:50%!important;}

.fondo_rectoria {display: block;width: 100%;height: auto;
background-image: url(../img/fondo_rectoria_pagina.jpg);background-position: center center;
background-size: auto;padding-top: 31px;margin-top: 50px;}

.fondo_rectoria h4 { color: #fff;font-size: 1.3rem;font-family: Maison-Neue-Bold-Italic;
margin-top: 25px;}

.fondo_rectoria .rectora-contenedor {width: 100%;float: left;height: auto;display: block;
margin-top: 20px;margin-left: 0px;}

.fondo_rectoria .rectora-informacion {float:left;width: 100%;display: block;margin-left:0px;}

.fondo_rectoria .mt-5 {margin-top: 0px!important;}

.fondo_rectoria h1 {font-size: 1.3rem!important;font-weight: 900;color: #fff!important;
line-height: 1.7;font-family: SF-Pro-Display-Ultralight;letter-spacing: 1.7px;}

.egresados hr.regla {margin-top: 1rem;margin-bottom: 0rem;border: 0;
border-top: 1px solid #00dcff;width: 100%;}
.egresados hr.regla_egresados {margin-top: 0rem;border-top: 8px solid #0077FF;width: 84px;
float: left;}
.egresados h3.nuestros_egresados {color: #fff;font-size: 1.3rem;margin-top: 5rem;
font-family: Maison-Neue-Bold;}
.egresados .espacio_egresados {padding-left: 0px;margin-top: 20px!important;}
.egresados .foto_egresado {margin-right: 0px;margin-left: 0px;background-size: cover;
background-repeat: no-repeat;background-position: center;border-radius: 30px;
height: 240px;width: 100%;background-size: cover;}
.egresados h1 {font-size: 1rem!important;font-weight: 200;color: #fff!important;line-height: 1.3;
font-family: SF-Pro-Display-Light;margin-top: 10px; display: none;}
.egresados .ver_mas_egresado a {background: #0077FF;color: #fff;font-size: 2rem;
border-radius: 25px 0 15px 0;-webkit-border-radius: 25px 0 15px 0;padding: 1px 10px 10px 15px;
display: flex;width: 50px;float: right;margin-top: 184px;height: 56px;}
.egresados .nombre_egresado {font-size: 1.2rem;text-transform: uppercase;color: #fff;
margin-top: 16px!important;font-family: Maison-Neue-Bold;font-weight: 900;}
.egresados .especialidad_egresado {font-size: 12px;color: #00dcff;width: 100%;
font-weight: 100;line-height: 1.5;font-family: Maison-Neue-Light;margin-top: -12px!important;}
.egresados ul.lista_egresados li a.lista_egresado {float: left;vertical-align: bottom;
margin-top: 80px;color: #fff;text-align: center;font-size: 12px;width: 100%;display: block;
text-transform: uppercase;}
.egresados ul.lista_egresados li {list-style-type: none;float: left;width: 29%;height: 75px;
margin:5px;background-size: cover;background-repeat: no-repeat;
background-position: center;border-radius: 20px;text-align: center;}
.egresados ul.lista_egresados {margin-left: -40px;margin-top: -15px;}
.egresados .carousel-indicators {position: absolute;right: 0;bottom:10px;left: 0;
z-index: 15;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;
padding-left: 0;margin-right: 15%;margin-left: 15%;list-style: none;}
.egresados .carousel-item {height: auto!important;min-height: 200px!important;}

.facultades hr.regla_facultades {margin-top:0px;border-top:8px solid #0077FF;width:50px;float:left;}
.facultades .movil_facultad {margin-top: 20px!important;}
.facultades .no-blanco {width:50%;float:left;padding:0px;background-color: transparent!important;}
.facultades .card-body{padding:0px;margin-top:20px;}
.facultades .card p {font-size: 14px;color: darkslategrey;text-align: center;
font-family: Maison-Neue-Light;padding: 0px;}
.facultades .ultima_movil {width: 100%!important;}


.universitario hr.regla_universitario {margin-top: 1rem;border-top: 8px solid #0077FF;
width: 50px;float: left;}
.universitario .carousel-item {height: 330px;min-height: 320px;background-repeat: no-repeat;
background-size: cover;background-position: center center;}
.universitario .banner-universitario {-webkit-border-radius: 30px;-moz-border-radius: 30px;
border-radius: 30px;height: 330px;}
.universitario .mas-noticias{ margin-top: 20px!important;}
.universitario .mas-noticias .card {margin: 20px!important;}
.universitario .pie-universitario {display: none;}


#universitario .carousel-caption .titulo {font-size: 1.3rem;font-weight: bold;
text-align: center;margin-top: 100px;font-family: SF-Pro-Display-Bold;
text-transform: inherit;}
#universitario .carousel-caption {position: absolute;right: 15%;bottom: 20px;left: 10%;
top: 0%!important;z-index: 10;padding-top: 0px;padding-bottom: 20px;color: #fff;
text-align: center;width: 80%;}
#universitario {margin-top: 20px;}


.agenda .datos {float: left;display: block;width: 80%;margin-left: 20px;margin-top: 20px;
color: #fff;}
.agenda .agenda_dias ul {list-style-type: none;margin-left: -30px;}
.agenda_color {background-color: rgba(9, 135, 255, 0.85);width: 100%;padding:0px;
height: auto;float: left;}
.agenda .datos {float: left;display: block;width: 80%;margin-left: 0px;margin-top: 20px;
color: #fff;}





}
